<div class="max-w-screen-xl mx-auto p-4">
    <ul class="flex flex-wrap">
        @for(video of videos; track video){
        <li class="w-full p-4 sm:w-1/2 md:w-1/3 lg:w-1/4">
            <div
                class="max-w-md w-full  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <!--Sacar imagen de video-->
                @if(video.url){
                <img class="rounded-t-lg w-full" src="{{getThumb(video.url, 'mqdefault')}}" alt="" />
                }@else {
                <img class="rounded-t-lg w-full" src="/src/assets/img/default-video.jpg" alt="" />
                }
                <div class="p-2">
                    <a href="#">
                        <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{video.dj}}</h5>
                    </a>
                    <p class="mb-3 px-2 font-normal h-12 text-gray-700 dark:text-gray-400 overflow-hidden">
                        {{video.title}}
                    </p>
                    <div class="flex w-auto gap-2">
                        <a href="{{video.url}}"
                            class="text-sm pl-4 py-2 flex w-1/2 items-center font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Ver Video
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ml-2 pt-1" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a>
                        <a [routerLink]="['/edit_video', video.id]"
                            class="text-sm pl-4 py-2 flex w-1/2 items-center font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Editar Video
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 mr-2 pt-1 " aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>