<div class="max-w-screen-xl text-2xl mx-auto p-4">
  <ul class="flex flex-col gap-4">
    <li>
      <a routerLink="/all_videos"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Mostrar todos las Videos</a>
    </li>
    <li>
      <a routerLink="/videoUpload"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Subir Video Sesión</a>
    </li>
    <li>
      <a routerLink="/all_videos"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Editar Video Sesión</a>
    </li>
    <li>
      <a routerLink="/add_category"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Añadir categoria</a>
    </li>
    <li>
      <a routerLink="/edit_cat"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Editar categoria</a>
    </li>
    <li>
      <a routerLink="/delete_cat"
        class="block px-4 py-2 text-xl text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        Eliminar categoria</a>
    </li>
  </ul>
</div>