<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-indigo-700/90">404</h1>
            <p class="mb-4 text-2xl tracking-tight font-bold text-gray-900 md:text-3xl dark:text-white">Algo falló.</p>
            <p class="mb-4 text-sm md:text-base font-light text-gray-500 dark:text-gray-400">Lo sentimos, no podemos encontrar esta página. </p>
            <a routerLink="/inicio" class="inline-flex text-white bg-blue-700 hover:bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Volver a Inicio</a>
        </div>   
    </div>
</section>