<!--HEADER-->
<nav class="border-gray-200 backdrop-blur-2xl relative"> <!--fixed top-0 w-full-->
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <!--MENU NAV-->
    <div class="items-center mx-10 justify-between hidden w-full md:flex md:w-auto order-2" id="navbar-user">
      <ul
        class="flex md:flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-4 space-x-6 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700">
        <li>
          <a routerLink="/inicio"
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page">INICIO</a>
        </li>
        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">CATEGORIAS<svg
              class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>
          <!-- Desplegable Categorias -->
          <div id="dropdownNavbar"
            class="z-10 hidden w-full border border-gray-700 backdrop-blur-3xl font-normal divide-gray-100 rounded-lg shadow md:w-44 ">
            <ul class="py-2 m-4 text-sm text-gray-200" aria-labelledby="dropdownLargeButton">
              @for(category of categories; track category.id){
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-500/60 dark:hover:text-white">{{category.name}}</a>
                </li>
              }
              
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="contacto"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">CONTACTO</a>
        </li>
      </ul>
    </div>

    <!--MENU DESPLEGABLE PANTALLA PEQUEÑA-->
    <div class="items-center justify-between ml-3 order-1 md:hidden">
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

    <!--LOGO Y NOMBRE WEB-->
    <a routerLink="/inicio" class="flex items-center order-2 md:order-1 ml-8 space-x-3 rtl:space-x-reverse">
      <h1 class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TalentoDJs</h1>
    </a>

    <!--LOGIN O USUARIO-->
    <section class="order-3">
      <!--Login Registro-->
      @if(!userLoginOn){
        <div class="flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <a routerLink="login"
            class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
          <a routerLink="registro"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Registro</a>
        </div>
      }
      
      <!--Usuario Menu-->
      @if(userLoginOn && userData){
        <div class="flex items-center space-x-1 text-sm md:text-base md:space-x-0 md:mr-4 rtl:space-x-reverse">
          <span class="text-gray-400 italic md:pr-1">Hola</span>
          <span class="text-gray-300 pr-1 md:pr-2">{{userData.nick}}</span>
          <button type="button"
            class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom" (click)="expandCollapse()">
            <span class="sr-only">Abrir Menu Desplegable</span>
            <img class="w-8 h-8 opacity-50 rounded-full" src="assets/img/picture-profile-icon.jpg" alt="user photo">
          </button>
          <!-- Desplegable Usuario Menu -->
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
            id="user-dropdown">
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900 dark:text-white">{{userData.name+' '+userData.surname}}</span>
              <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">TalentoDJs</span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a routerLink="admin_panel"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                  Admin Panel</a>
              </li>
              <li>
                <a routerLink="ajustes"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                  Ajustes</a>
              </li>
              <li>
                <a routerLink="/inicio"
                  (click)="logout()"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                  Cerrar Sesion</a>
              </li>
            </ul>
          </div>
        </div>
      }
      
    </section>   
    
  </div>
</nav>